$white: #fff;
$black: #000;
$caramel: #f4d2b6;
$dark-caramel: #db955c;
$grey-lighter: #fbfbfb;
$grey-light: #e0e2e6;
$grey: #aab0bb;
$grey-dark: #808799;
$grey-blue-dark: #323d4b;
$crimson-light: #d71c4e;
$crimson-dark: #910c2e;