$rb-screen-lg: "only screen and (min-width: 1200px)";
$rb-screen-md: "only screen and (min-width: 992px)";
$rb-screen-sm: "only screen and (min-width: 768px)";
$rb-screen-xs: "only screen and (max-width: 767px)";
$rb-screen-md-only: "only screen and (min-width: 992px) and (max-width: 1199px)";
$rb-screen-sm-only: "only screen and (min-width: 768px) and (max-width: 991px)";
$rb-screen-md-until: "only screen and (max-width: 991px)";